#instr-wrapper {
  font-family: 'IBM Plex Sans', sans-serif;
  display: inline-block;
  border: 3px solid black;
  border-radius: 10px;
  background: #DC3023;
  max-width: 95%;
}

#titlebar {
  text-align: center;
}

#titlebar h1 {
  margin: 0px 0px 5px;
  font: bold 24px;
}