* {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
}


html, body, #root {
  height: 100%;
}

:focus { outline:none !important; }

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}